
// Colors ==========================
$color-background: white;
$color-hover: blue;
$color-border: black;
//-------------------------------------------------------------

// Sizes =================================
$size-key-normal-width: 100px;
$size-key-normal-height: 100px;

$size-key-fn-long-width: 200px;
$size-key-fn-short-width: 200px;

$size-key-space-width: 600px;
//-------------------------------------------------------------------------


